@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Work+Sans&display=swap');

/*
font-family: 'Comfortaa', cursive;
    font-family: 'Work Sans', sans-serif;
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #571841;
}

a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

li {
    list-style-type: none;
}

.navbar {
    height: 100px;
    width: 100dvw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_container {
    width: 500px;
    height: 50px;
    position: relative;
    left: -10px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 1em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: 'Comfortaa', cursive;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}


#icon_name {
    font-family: 'Comfortaa', cursive;
    font-size: 32px;
    color: #FFFFFF;
    position: relative;
    left: 50px;
}

#icon_name::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #23153c;
    height: 105%;
    width: 100%;
    border-left: solid 2px #37FF8B;
    animation: animate 2s steps(14) forwards;
}

@keyframes animate {
    from {
        left: 0;
    }
        
    to {
        width: 105%;
        left: 100%;
        background-color: #23153c;
        background-color: transparent;
    }
}

#home_intro {
    position: relative;
    height: 700px;
    width: 1600px;
    left: 5rem;
    top: 4.5rem;
}

#home_intro p {
    font-size: 128px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-weight: 900;
    display: flex;
}

#home_intro>a>svg {
    position: absolute;
    top: 95%;
}

#underlinehome {
    width: 0;
    height: 10px;
    background-color: #37ff8ab7;
    position: relative;
    left: 10px;
}

.icon_box {
    display: flex;
}

#vanta-element {
    position: absolute;
    height: 100dvh;
    width: 100%;
    object-fit: contain;
    z-index: 0;
}