@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Work+Sans&display=swap');

/*
font-family: 'Comfortaa', cursive;
font-family: 'Work Sans', sans-serif;
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #571841;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.navbar {
    height: 100px;
    width: 100dvw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_container {
    display: flex;
    position: relative;
}

.content_container>div {
    height: 70px;
    width: 70px;
    background-color: #671C4D;
    border-radius: 100%;
    margin: 0 3rem;
    display: flex;
    font-family: 'Comfortaa', cursive;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 2;
}

.faq_div::before,
.contact_div::before,
.home_div::before {
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 100px;
    position: absolute;
    display: inline-block;
    transition: all 1s ease;
}


.faq_div:is(:hover)::before,
.contact_div:is(:hover)::before,
.home_div:is(:hover)::before {
    position: absolute;
    background-color: #962b70;
    transform: translateX(47px) translateY(-39%);
    opacity: 0.5;
    z-index: -1;
}


.home_div::before {
    left: 0%;
    top: 40%;
}


.home_div:hover #home_content {
    transform: rotate(-15deg);
    font-size: 1.2rem;
}

.contact_div::before {
    position: absolute;
    left: 33.5%;
    top: 40%;
}

.contact_div:hover #contact_content {
    transform: rotate(-13deg);
    font-size: 1.1rem;
}

.faq_div::before {
    left: 66.4%;
    top: 40%;
}

.faq_div:hover #faq_content {
    transform: rotate(-13deg);
    font-size: 1.2rem;
}

.content_container a {
    position: absolute;
    top: 1.5rem;
    transition: all 0.5s ease;
    transform-origin: top left;
}

#home_content {
    right: 23rem;

}

#contact_content {
    right: 11rem;
}

#faq_content {
    right: 2rem;
}

#icon_name {
    font-family: 'Comfortaa', cursive;
    font-size: 32px;
    color: #FFFFFF;
    margin: 0 2rem;
}

#home_intro {
    position: relative;
    height: 700px;
    width: 1535px;
    left: 5rem;
    top: 4.5rem;
}

#home_intro p {
    font-size: 128px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-weight: 900;
}

#home_intro>a>svg {
    position: absolute;
    top: 90%;
} 